#blue {
	color: #ccc;
	font-size: 12px;
}

a {
	text-decoration: none
}

li {
	list-style-type: none;
	background-color: #05F5F2
}
h1 {
	border: 2px solid #7E1D1D
}
/*p {
	border: 3px dotted #5D1257;
	border-top: none
}*/
p.red {
	/*border-top: none;*/
	border-right: 4px dotted #05ED26;
	border-bottom: 2px dashed #F607F3;
	border-left: 3px double #100BDA;
}
p {
	
	border-top: none
}

table {
	border-collapse: collapse
}