div {
	background-color: #F30A0A
}
#fixed {
	background-color: #18E70E;
	position: fixed;
	top: 20px;
	left: 20px;
}
/*#relative {
	background-color: #11F7F4;
	position: relative;
	top: -20px;
	left: -20px
}*/
main {
	position: relative;
}
#absolute {
	background-color: #F4DD1D;
	position: absolute;
	top: -20px;
	left: 0
}


